.header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background: black;
    width: 95vw;
}
.header-wrapper{
    height: 70px;
    width: 95vw;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}
@media only screen and (max-width:1440px) {
    .header-wrapper{
        margin: 0px
    }
}
@media only screen and (max-width:769px) {
    .header{
        width: 97vw;
    }
}
@media only screen and (max-width:525px) {
    .header{
        width: 100vw;
    }
}