.carousel-slider-container {
    width: 95%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-slider {
    /* width: 400%; */
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    /* transform: translate(-25%); */
    position: absolute;
}